.container{
    width: 97%;
    height: 95vh;
    border: 1px;
    background-color: #FFFFFF33;
    border-radius: 37px;
    margin: 20px auto 20px auto;  
   
}
.container label,h3{
    color: #ffffff;

}
.fieldOne{
    padding-top: 20px;
    padding-left: 20px;
    display:grid;
    position:relative;
    

}
#input1{
    width: 411px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 11px;
}
#input4{
    width: 411px;
    height: 180px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 11px;
}
#date{
    width: 183px;
    height: 40px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 11px;
    cursor: pointer;
}
.fieldTwo{/**/
    display:grid;
    margin-top: 50px;/**/
   
    
    
}
input{
    width: 200px;
    border-radius: 5px;
    height: 25px;
}
.btn{
    width: 113px;
    height: 39px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 11px;
    font-size: 13px;
    font-family: 'Omnes';
    font-weight: 500;
}